# File ignore
*.tex
*.pdf
*.aux
*.log
*.synctex.gz

# Root ignoring
testing/
todo.txt

# Client ignoring
client/.next/
client/node_modules
client/package-lock.json
client/.env.local

# Server ignoring
node_modules/
package-lock.json
.env
client/pages/api
