# File ignore
*.tex
*.pdf
*.aux
*.log
*.synctex.gz

# Root ignoring
testing/
todo.txt

# Client ignoring
client/.next/
client/node_modules
client/package-lock.json

# Server ignoring
server/node_modules/
server/package-lock.json
server/.env
client/pages/api
